body {
    margin: auto;
    overflow-x: hidden;
}

.ball {
    width: 50px;
    height: 50px;
}

header {
    text-align:center;
    padding: 5px;
    color: white;
    background-color: red;
    width: auto;
  }

.ball, h1{
    display: inline;
    vertical-align: middle;
    padding: 5px;
  }
.sort-search {
    justify-content: center;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search {
    border: solid black 1px;
}

.options{
    border: solid black 1px;
}
.arrows {
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    padding: 5px;
}

#arrow-position{
    position: relative; 
    left: 40%;
}

li {
    list-style-type: none;
}
.contain {
  text-align:center;
  border: solid red 1px;
  display: inline;
  vertical-align: middle;
}

.grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  
  }
  
.grid-container > div {
    background-color: grey;
    text-align: center;
    width: auto;
    padding: 20px 0;
    font-size: 30px;
    color:white;

}
h1{
  font-size: 20px;
}
p{
  font-size: 12px;
}

.image {
    width: 150px;
    padding-top: 25%;

}
.info{
  width: 50%;
  float: right;

}

.image-container, .info{
  display: inline;
  vertical-align: middle;
}

.image-container{
    align-content:left;
    justify-content:flex-start;
    display: flex;
    flex-direction: row;
    float:left;
}

.image-container img {
    height: 100%;
    object-fit: contain;
    justify-content: center;
}


  /* dropdown code  */
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
  }
  #dropdown {
      position: relative;
      right: 0;
      left: 20%;
      display: flex;
      display: inline;
      justify-content: flex-end;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
/*  
  .horn{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    margin-bottom: 5%;
}

.horn li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border: 1px solid #aaa;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    padding: 5px;
    border-radius: 10px;
    border: solid black 1px;
} */




footer {
    text-align:center;
    position: absolute;
    bottom:0;
    left: 50%;
}


@media (min-width:900px) {
    .grid-container {
        margin-top: 30px;
        display: grid;
        /* grid-template: 150px / auto auto auto auto; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
 
      }
      
      .grid-container > div {
        background-color: yellow;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        color:white;
        height: auto;
        
      }
      #arrow-position{
        position: relative; 
        left: 40%;
    }


    p{
      font-size: 30px;
    }
    
    .image {
      width: 150px;
      padding-top: 25%;
  
  }
  .info{
    width: 50%;
    float: right;
  
  }
  
  .image-container, .info{
    display: inline;
    vertical-align: middle;
  }
  
  .image-container{
      align-content:left;
      justify-content:flex-start;
      display: flex;
      flex-direction: row;
      float:left;
  }
  
  .image-container img {
      height: 100%;
      object-fit: contain;
      justify-content: center;
  }
  






}