.center{
text-align: center;

}

.button{
    text-decoration: none;    
    padding: 10px;
    border-radius: 20px;
    border: black 2px solid;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}