
.paging {
  margin-bottom: 10px;
  display:inline;
 display:flex;
 justify-content: flex-end;
 justify-self: center;
  vertical-align: middle;
  margin-right: 50px;
}

.paging button {
  position: relative;
  height: 50px;
  width: 50px;
  font-size: 1.7em;
  background-color: red;
  justify-content:center;
  color: black;
  border: solid 1px black;
}

.paging button:disabled {
  background-color: rgb(236, 89, 63);
  color: white;
}

.paging span {
  margin: 0 10px;
  font-size: 20px;
  justify-content:center;
  margin-top: 15px;
  vertical-align: center;
}

/* 
.prev, .next{
  border: solid 1px black;
} */

